language: php

php:
  # - '5.6'
  - '7.0'
  # - '7.1'

sudo: false

services:
  - mysql

test:
  - adapter: mysql2
  - database: todo
  - username: root
  - password: secret
  - encoding: utf8

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS todo;'

before_script:
  - composer install --no-interaction --prefer-dist
  - mv .env.example .env
  - php artisan key:generate
  - php artisan migrate

script:
  - vendor/bin/phpunit